# Mobile App Development

In [1]:
import requests
file = requests.get('https://clutch.co/directory/mobile-application-developers')
from bs4 import BeautifulSoup
soup = BeautifulSoup(file.content,'html.parser')

In [2]:
company = soup.findAll('h3', attrs={'class':'company_info'})
website = soup.findAll("div",{"class":"provider-detail col-md-2"})
rating = soup.findAll("span",{"class":"rating sg-rating__number"})
biglist = soup.findAll("div",{"class":"list-item custom_popover"})
min_proj_size = soup.findAll("div",{"class":"list-item block_tag custom_popover"})

In [3]:
lis=[]
for i in biglist:

    lis.append(i.text.strip())
print(lis)


def sublist(li, n):
    sub=[] ; result=[]
    for i in li:
        sub+=[i]
        if len(sub)==n: result+=[sub] ; sub=[]
    if sub: result+=[sub]
    return result
sublist(lis,3)

['< $25 / hr', '250 - 999', 'Ahmedabad, India', '$25 - $49 / hr', '250 - 999', 'Sunnyvale, CA', '< $25 / hr', '50 - 249', 'Jaipur, India', '< $25 / hr', '50 - 249', 'Cincinnati, OH', '$100 - $149 / hr', '50 - 249', 'New York, NY', '$50 - $99 / hr', '250 - 999', 'Poznań, Poland', '$50 - $99 / hr', '1,000 - 9,999', 'St. Petersburg, FL', '$50 - $99 / hr', '250 - 999', 'Norcross, GA', '$25 - $49 / hr', '50 - 249', 'Agoura Hills, CA', '$150 - $199 / hr', '50 - 249', 'Santa Monica, CA', '$25 - $49 / hr', '250 - 999', 'Manhattan, NY', '$150 - $199 / hr', '50 - 249', 'Montevideo, Uruguay', 'Undisclosed', '50 - 249', 'Chicago, IL', '$100 - $149 / hr', '10 - 49', 'Bournemouth, United Kingdom', '$50 - $99 / hr', '50 - 249', 'Warszawa, Poland', '$50 - $99 / hr', '50 - 249', 'San Francisco, CA', '$100 - $149 / hr', '50 - 249', 'New York, NY', '< $25 / hr', '50 - 249', 'Gurugram, India', '$50 - $99 / hr', '10 - 49', 'Dundee, United Kingdom', '$25 - $49 / hr', '50 - 249', 'Kyiv, Ukraine', '$50 - $99 / hr', '10 - 49', 'Cluj-Napoca, Romania', '$25 - $49 / hr', '10 - 49', 'Las Vegas, NV', '$150 - $199 / hr', '10 - 49', 'Ada, MI', '$50 - $99 / hr', '50 - 249', 'Cluj-Napoca, Romania', '$50 - $99 / hr', '10 - 49', 'Alpharetta, GA', '$25 - $49 / hr', '50 - 249', 'Singapore', '< $25 / hr', '50 - 249', 'Jaipur, India', '< $25 / hr', '10 - 49', 'Sahibzada Ajit Singh Nagar, India', '< $25 / hr', '10 - 49', 'White Plains, NY', '$50 - $99 / hr', '50 - 249', 'Montevideo, Uruguay', '$100 - $149 / hr', '10 - 49', 'Halifax, Canada', '$100 - $149 / hr', '50 - 249', 'New York City, NY', '< $25 / hr', '50 - 249', 'Sahibzada Ajit Singh Nagar, India', '$50 - $99 / hr', '50 - 249', 'Cluj-Napoca, Romania', '< $25 / hr', '50 - 249', 'Gurugram, India', '$50 - $99 / hr', '50 - 249', 'New York, NY', '$100 - $149 / hr', '10 - 49', 'Arlington, VA', '$25 - $49 / hr', '50 - 249', 'Budva, Montenegro', '$100 - $149 / hr', '10 - 49', 'London, United Kingdom', '< $25 / hr', '50 - 249', 'Noida, India']

[['< $25 / hr', '250 - 999', 'Ahmedabad, India'],
 ['$25 - $49 / hr', '250 - 999', 'Sunnyvale, CA'],
 ['< $25 / hr', '50 - 249', 'Jaipur, India'],
 ['< $25 / hr', '50 - 249', 'Cincinnati, OH'],
 ['$100 - $149 / hr', '50 - 249', 'New York, NY'],
 ['$50 - $99 / hr', '250 - 999', 'Poznań, Poland'],
 ['$50 - $99 / hr', '1,000 - 9,999', 'St. Petersburg, FL'],
 ['$50 - $99 / hr', '250 - 999', 'Norcross, GA'],
 ['$25 - $49 / hr', '50 - 249', 'Agoura Hills, CA'],
 ['$150 - $199 / hr', '50 - 249', 'Santa Monica, CA'],
 ['$25 - $49 / hr', '250 - 999', 'Manhattan, NY'],
 ['$150 - $199 / hr', '50 - 249', 'Montevideo, Uruguay'],
 ['Undisclosed', '50 - 249', 'Chicago, IL'],
 ['$100 - $149 / hr', '10 - 49', 'Bournemouth, United Kingdom'],
 ['$50 - $99 / hr', '50 - 249', 'Warszawa, Poland'],
 ['$50 - $99 / hr', '50 - 249', 'San Francisco, CA'],
 ['$100 - $149 / hr', '50 - 249', 'New York, NY'],
 ['< $25 / hr', '50 - 249', 'Gurugram, India'],
 ['$50 - $99 / hr', '10 - 49', 'Dundee, United Kingdom'],
 ['$25 - $49 / hr', '50 - 249', 'Kyiv, Ukraine'],
 ['$50 - $99 / hr', '10 - 49', 'Cluj-Napoca, Romania'],
 ['$25 - $49 / hr', '10 - 49', 'Las Vegas, NV'],
 ['$150 - $199 / hr', '10 - 49', 'Ada, MI'],
 ['$50 - $99 / hr', '50 - 249', 'Cluj-Napoca, Romania'],
 ['$50 - $99 / hr', '10 - 49', 'Alpharetta, GA'],
 ['$25 - $49 / hr', '50 - 249', 'Singapore'],
 ['< $25 / hr', '50 - 249', 'Jaipur, India'],
 ['< $25 / hr', '10 - 49', 'Sahibzada Ajit Singh Nagar, India'],
 ['< $25 / hr', '10 - 49', 'White Plains, NY'],
 ['$50 - $99 / hr', '50 - 249', 'Montevideo, Uruguay'],
 ['$100 - $149 / hr', '10 - 49', 'Halifax, Canada'],
 ['$100 - $149 / hr', '50 - 249', 'New York City, NY'],
 ['< $25 / hr', '50 - 249', 'Sahibzada Ajit Singh Nagar, India'],
 ['$50 - $99 / hr', '50 - 249', 'Cluj-Napoca, Romania'],
 ['< $25 / hr', '50 - 249', 'Gurugram, India'],
 ['$50 - $99 / hr', '50 - 249', 'New York, NY'],
 ['$100 - $149 / hr', '10 - 49', 'Arlington, VA'],
 ['$25 - $49 / hr', '50 - 249', 'Budva, Montenegro'],
 ['$100 - $149 / hr', '10 - 49', 'London, United Kingdom'],
 ['< $25 / hr', '50 - 249', 'Noida, India']]

In [5]:
import pandas as pd
l=[]
website = soup.findAll("div",{"class":"provider-detail col-md-2"})
for i in range(0,len(company)):
    dict={'company':company[i].find('a').contents[0].strip(),'website':website[i].find('a')['href'].strip(),'location':sublist(lis,3)[i][2],'hourly_rate':sublist(lis,3)[i][0],'employee_size':sublist(lis,3)[i][1],
         'rating':rating[i].text.strip(),'min_proj_size':min_proj_size[i].text.strip()}
    l.append(dict)
convert = pd.DataFrame(l)
convert.to_csv('Mobile_app_dev.csv')

# Software dev

In [6]:
file1 = requests.get('https://clutch.co/developers')
soup1 = BeautifulSoup(file1.content,'html.parser')

In [7]:
company1 = soup1.findAll('h3', attrs={'class':'company_info'})
website1 = soup1.findAll("div",{"class":"provider-detail col-md-2"})
rating1 = soup1.findAll("span",{"class":"rating sg-rating__number"})
biglist1 = soup1.findAll("div",{"class":"list-item custom_popover"})
min_proj_size1 = soup1.findAll("div",{"class":"list-item block_tag custom_popover"})

In [13]:
rating1

[<span class="rating sg-rating__number">
                                 5.0
                             </span>,
 <span class="rating sg-rating__number">
                                 4.9
                             </span>,
 <span class="rating sg-rating__number">
                                 4.9
                             </span>,
 <span class="rating sg-rating__number">
                                 4.8
                             </span>,
 <span class="rating sg-rating__number">
                                 4.9
                             </span>,
 <span class="rating sg-rating__number">
                                 4.9
                             </span>,
 <span class="rating sg-rating__number">
                                 4.7
                             </span>,
 <span class="rating sg-rating__number">
                                 5.0
                             </span>,
 <span class="rating sg-rating__number">
                                 4.9
                             </span>,
 <span class="rating sg-rating__number">
                                 4.9
                             </span>,
 <span class="rating sg-rating__number">
                                 4.8
                             </span>,
 <span class="rating sg-rating__number">
                                 4.9
                             </span>,
 <span class="rating sg-rating__number">
                                 4.9
                             </span>,
 <span class="rating sg-rating__number">
                                 4.8
                             </span>,
 <span class="rating sg-rating__number">
                                 4.8
                             </span>,
 <span class="rating sg-rating__number">
                                 4.6
                             </span>,
 <span class="rating sg-rating__number">
                                 4.9
                             </span>,
 <span class="rating sg-rating__number">
                                 5.0
                             </span>,
 <span class="rating sg-rating__number">
                                 4.8
                             </span>,
 <span class="rating sg-rating__number">
                                 4.8
                             </span>,
 <span class="rating sg-rating__number">
                                 5.0
                             </span>,
 <span class="rating sg-rating__number">
                                 4.9
                             </span>,
 <span class="rating sg-rating__number">
                                 4.9
                             </span>,
 <span class="rating sg-rating__number">
                                 4.8
                             </span>,
 <span class="rating sg-rating__number">
                                 4.9
                             </span>,
 <span class="rating sg-rating__number">
                                 4.9
                             </span>,
 <span class="rating sg-rating__number">
                                 4.8
                             </span>,
 <span class="rating sg-rating__number">
                                 4.8
                             </span>,
 <span class="rating sg-rating__number">
                                 4.8
                             </span>,
 <span class="rating sg-rating__number">
                                 4.9
                             </span>]

In [11]:
lis=[]
for i in biglist1:

    lis.append(i.text.strip())
print(lis)


def sublist(li, n):
    sub=[] ; result=[]
    for i in li:
        sub+=[i]
        if len(sub)==n: result+=[sub] ; sub=[]
    if sub: result+=[sub]
    return result
sublist(lis,3)

['$100 - $149 / hr', '10 - 49', 'Seattle, WA', 'Undisclosed', '50 - 249', 'Chicago, IL', '$50 - $99 / hr', '10 - 49', 'Lisboa, Portugal', '$50 - $99 / hr', '50 - 249', 'Gliwice, Poland', '$50 - $99 / hr', '1,000 - 9,999', 'San Francisco, CA', '$25 - $49 / hr', '1,000 - 9,999', 'Washington, DC', '$50 - $99 / hr', '50 - 249', 'Gliwice, Poland', '$50 - $99 / hr', '250 - 999', 'Norcross, GA', '$25 - $49 / hr', '250 - 999', 'White Plains, NY', '$150 - $199 / hr', '50 - 249', 'Santa Monica, CA', '$50 - $99 / hr', '50 - 249', 'Gliwice, Poland', '$25 - $49 / hr', '1,000 - 9,999', 'Denver, CO', '$25 - $49 / hr', '1,000 - 9,999', 'Plano, TX', '$50 - $99 / hr', '1,000 - 9,999', 'Warszawa, Poland', '$50 - $99 / hr', '250 - 999', 'Poznań, Poland', '$50 - $99 / hr', '10 - 49', 'Miami, FL', '$25 - $49 / hr', '250 - 999', 'Los Altos, CA', '$100 - $149 / hr', '250 - 999', 'New York, NY', '$25 - $49 / hr', '50 - 249', 'Artesia, CA', '$100 - $149 / hr', '50 - 249', 'New York City, NY', '$150 - $199 / hr', '10 - 49', 'Providence, RI', '$150 - $199 / hr', '10 - 49', 'Chicago, IL', '$25 - $49 / hr', '50 - 249', 'Singapore', '$150 - $199 / hr', '10 - 49', 'Golden, CO', '$100 - $149 / hr', '50 - 249', 'Chicago, IL', '$25 - $49 / hr', '10 - 49', 'Karachi, Pakistan', '$50 - $99 / hr', '50 - 249', 'Córdoba, Argentina', '$50 - $99 / hr', '50 - 249', 'Draper, UT', '< $25 / hr', '50 - 249', 'Rickmansworth, United Kingdom', '$150 - $199 / hr', '50 - 249', 'Boise, ID']

[['$100 - $149 / hr', '10 - 49', 'Seattle, WA'],
 ['Undisclosed', '50 - 249', 'Chicago, IL'],
 ['$50 - $99 / hr', '10 - 49', 'Lisboa, Portugal'],
 ['$50 - $99 / hr', '50 - 249', 'Gliwice, Poland'],
 ['$50 - $99 / hr', '1,000 - 9,999', 'San Francisco, CA'],
 ['$25 - $49 / hr', '1,000 - 9,999', 'Washington, DC'],
 ['$50 - $99 / hr', '50 - 249', 'Gliwice, Poland'],
 ['$50 - $99 / hr', '250 - 999', 'Norcross, GA'],
 ['$25 - $49 / hr', '250 - 999', 'White Plains, NY'],
 ['$150 - $199 / hr', '50 - 249', 'Santa Monica, CA'],
 ['$50 - $99 / hr', '50 - 249', 'Gliwice, Poland'],
 ['$25 - $49 / hr', '1,000 - 9,999', 'Denver, CO'],
 ['$25 - $49 / hr', '1,000 - 9,999', 'Plano, TX'],
 ['$50 - $99 / hr', '1,000 - 9,999', 'Warszawa, Poland'],
 ['$50 - $99 / hr', '250 - 999', 'Poznań, Poland'],
 ['$50 - $99 / hr', '10 - 49', 'Miami, FL'],
 ['$25 - $49 / hr', '250 - 999', 'Los Altos, CA'],
 ['$100 - $149 / hr', '250 - 999', 'New York, NY'],
 ['$25 - $49 / hr', '50 - 249', 'Artesia, CA'],
 ['$100 - $149 / hr', '50 - 249', 'New York City, NY'],
 ['$150 - $199 / hr', '10 - 49', 'Providence, RI'],
 ['$150 - $199 / hr', '10 - 49', 'Chicago, IL'],
 ['$25 - $49 / hr', '50 - 249', 'Singapore'],
 ['$150 - $199 / hr', '10 - 49', 'Golden, CO'],
 ['$100 - $149 / hr', '50 - 249', 'Chicago, IL'],
 ['$25 - $49 / hr', '10 - 49', 'Karachi, Pakistan'],
 ['$50 - $99 / hr', '50 - 249', 'Córdoba, Argentina'],
 ['$50 - $99 / hr', '50 - 249', 'Draper, UT'],
 ['< $25 / hr', '50 - 249', 'Rickmansworth, United Kingdom'],
 ['$150 - $199 / hr', '50 - 249', 'Boise, ID']]

In [14]:
import pandas as pd
l=[]
website = soup1.findAll("div",{"class":"provider-detail col-md-2"})
for i in range(0,len(company1)):
    dict={'company':company1[i].find('a').contents[0].strip(),'website':website1[i].find('a')['href'].strip(),'location':sublist(lis,3)[i][2],'hourly_rate':sublist(lis,3)[i][0],'employee_size':sublist(lis,3)[i][1],
         'rating':rating1[i].text.strip(),'min_proj_size':min_proj_size1[i].text.strip()}
    l.append(dict)
convert = pd.DataFrame(l)
convert.to_csv('software_dev.csv')

# Artificial Intelligence

In [15]:
import requests
from bs4 import BeautifulSoup
file3 = requests.get('https://clutch.co/developers/artificial-intelligence')
soup3 = BeautifulSoup(file3.content,'html.parser')

In [16]:
company3 = soup3.findAll('h3', attrs={'class':'company_info'})
website3 = soup3.findAll("div",{"class":"provider-detail col-md-2"})
rating3 = soup3.findAll("span",{"class":"rating sg-rating__number"})
biglist = soup3.findAll("div",{"class":"list-item custom_popover"})
min_proj_size = soup3.findAll("div",{"class":"list-item block_tag custom_popover"})

In [17]:
lis=[]
for i in biglist:

    lis.append(i.text.strip())
print(lis)


def sublist(li, n):
    sub=[] ; result=[]
    for i in li:
        sub+=[i]
        if len(sub)==n: result+=[sub] ; sub=[]
    if sub: result+=[sub]
    return result
sublist(lis,3)

['$50 - $99 / hr', '250 - 999', 'Norcross, GA', '$50 - $99 / hr', '10 - 49', 'London, United Kingdom', '$100 - $149 / hr', '50 - 249', 'Wrocław, Poland', '$50 - $99 / hr', '10 - 49', 'Sunnyvale, CA', '$50 - $99 / hr', '50 - 249', 'Gdańsk, Poland', '$50 - $99 / hr', '10 - 49', 'McLean, VA', '$25 - $49 / hr', '10 - 49', 'Kyiv, Ukraine', '$100 - $149 / hr', '1,000 - 9,999', 'San Francisco, CA', '$25 - $49 / hr', '50 - 249', 'San Francisco, CA', '$100 - $149 / hr', '50 - 249', 'West Hollywood, CA', '$25 - $49 / hr', '50 - 249', 'Vancouver, Canada', '$50 - $99 / hr', '50 - 249', 'Nicosia, Cyprus', '$50 - $99 / hr', '250 - 999', 'Santa Monica, CA', '$50 - $99 / hr', '10 - 49', 'Kraków, Poland', '$50 - $99 / hr', '250 - 999', 'Kharkiv, Ukraine', '$100 - $149 / hr', '10 - 49', 'London, United Kingdom', '$150 - $199 / hr', '50 - 249', 'Worthington, OH', '$50 - $99 / hr', '10 - 49', 'Florianópolis, Brazil', '$25 - $49 / hr', '1,000 - 9,999', 'Thiruvananthapuram, India', '$25 - $49 / hr', '10 - 49', 'Gurugram, India', '$50 - $99 / hr', '50 - 249', 'London, United Kingdom', '$50 - $99 / hr', '50 - 249', 'Los Angeles, CA', '$25 - $49 / hr', '10 - 49', 'Prague, Czech Republic', '$50 - $99 / hr', '10 - 49', 'New York City, NY', '$25 - $49 / hr', '250 - 999', 'Denver, CO', '$50 - $99 / hr', '50 - 249', 'Broadheath, Altrincham, United Kingdom', '$25 - $49 / hr', '50 - 249', 'Ahmedabad, India', '$50 - $99 / hr', '10 - 49', 'Darmstadt, Germany', '$50 - $99 / hr', '1,000 - 9,999', 'Kraków, Poland', 'Undisclosed', '1,000 - 9,999', 'Agios Athanasios, Cyprus', '$25 - $49 / hr', '250 - 999', 'Naples, FL', '$50 - $99 / hr', '50 - 249', 'Kraków, Poland', '$150 - $199 / hr', '2 - 9', 'Charlotte, NC', '$25 - $49 / hr', '10 - 49', 'Pune, India', '$50 - $99 / hr', '250 - 999', 'Poznań, Poland', '$50 - $99 / hr', '50 - 249', 'Alicante (Alacant), Spain', '$100 - $149 / hr', '10 - 49', 'Miami, FL', '$200 - $300 / hr', '50 - 249', 'Los Angeles, CA', '< $25 / hr', '50 - 249', 'Portland, OR', '$50 - $99 / hr', '50 - 249', 'Austin, TX', '$25 - $49 / hr', '50 - 249', 'Gdańsk, Poland', '$25 - $49 / hr', '10 - 49', 'Islamabad, Pakistan', '$25 - $49 / hr', '250 - 999', 'Thiruvananthapuram, India', '$100 - $149 / hr', '2 - 9', 'Budapest, Hungary', '$25 - $49 / hr', '50 - 249', 'Singapore', '$25 - $49 / hr', '50 - 249', 'Alexandria, VA', '$25 - $49 / hr', '50 - 249', 'Miami, FL', '< $25 / hr', '50 - 249', 'Las Vegas, NV', '$50 - $99 / hr', '1,000 - 9,999', 'New York, NY', '$50 - $99 / hr', '10 - 49', 'Bari, Italy']

[['$50 - $99 / hr', '250 - 999', 'Norcross, GA'],
 ['$50 - $99 / hr', '10 - 49', 'London, United Kingdom'],
 ['$100 - $149 / hr', '50 - 249', 'Wrocław, Poland'],
 ['$50 - $99 / hr', '10 - 49', 'Sunnyvale, CA'],
 ['$50 - $99 / hr', '50 - 249', 'Gdańsk, Poland'],
 ['$50 - $99 / hr', '10 - 49', 'McLean, VA'],
 ['$25 - $49 / hr', '10 - 49', 'Kyiv, Ukraine'],
 ['$100 - $149 / hr', '1,000 - 9,999', 'San Francisco, CA'],
 ['$25 - $49 / hr', '50 - 249', 'San Francisco, CA'],
 ['$100 - $149 / hr', '50 - 249', 'West Hollywood, CA'],
 ['$25 - $49 / hr', '50 - 249', 'Vancouver, Canada'],
 ['$50 - $99 / hr', '50 - 249', 'Nicosia, Cyprus'],
 ['$50 - $99 / hr', '250 - 999', 'Santa Monica, CA'],
 ['$50 - $99 / hr', '10 - 49', 'Kraków, Poland'],
 ['$50 - $99 / hr', '250 - 999', 'Kharkiv, Ukraine'],
 ['$100 - $149 / hr', '10 - 49', 'London, United Kingdom'],
 ['$150 - $199 / hr', '50 - 249', 'Worthington, OH'],
 ['$50 - $99 / hr', '10 - 49', 'Florianópolis, Brazil'],
 ['$25 - $49 / hr', '1,000 - 9,999', 'Thiruvananthapuram, India'],
 ['$25 - $49 / hr', '10 - 49', 'Gurugram, India'],
 ['$50 - $99 / hr', '50 - 249', 'London, United Kingdom'],
 ['$50 - $99 / hr', '50 - 249', 'Los Angeles, CA'],
 ['$25 - $49 / hr', '10 - 49', 'Prague, Czech Republic'],
 ['$50 - $99 / hr', '10 - 49', 'New York City, NY'],
 ['$25 - $49 / hr', '250 - 999', 'Denver, CO'],
 ['$50 - $99 / hr', '50 - 249', 'Broadheath, Altrincham, United Kingdom'],
 ['$25 - $49 / hr', '50 - 249', 'Ahmedabad, India'],
 ['$50 - $99 / hr', '10 - 49', 'Darmstadt, Germany'],
 ['$50 - $99 / hr', '1,000 - 9,999', 'Kraków, Poland'],
 ['Undisclosed', '1,000 - 9,999', 'Agios Athanasios, Cyprus'],
 ['$25 - $49 / hr', '250 - 999', 'Naples, FL'],
 ['$50 - $99 / hr', '50 - 249', 'Kraków, Poland'],
 ['$150 - $199 / hr', '2 - 9', 'Charlotte, NC'],
 ['$25 - $49 / hr', '10 - 49', 'Pune, India'],
 ['$50 - $99 / hr', '250 - 999', 'Poznań, Poland'],
 ['$50 - $99 / hr', '50 - 249', 'Alicante (Alacant), Spain'],
 ['$100 - $149 / hr', '10 - 49', 'Miami, FL'],
 ['$200 - $300 / hr', '50 - 249', 'Los Angeles, CA'],
 ['< $25 / hr', '50 - 249', 'Portland, OR'],
 ['$50 - $99 / hr', '50 - 249', 'Austin, TX'],
 ['$25 - $49 / hr', '50 - 249', 'Gdańsk, Poland'],
 ['$25 - $49 / hr', '10 - 49', 'Islamabad, Pakistan'],
 ['$25 - $49 / hr', '250 - 999', 'Thiruvananthapuram, India'],
 ['$100 - $149 / hr', '2 - 9', 'Budapest, Hungary'],
 ['$25 - $49 / hr', '50 - 249', 'Singapore'],
 ['$25 - $49 / hr', '50 - 249', 'Alexandria, VA'],
 ['$25 - $49 / hr', '50 - 249', 'Miami, FL'],
 ['< $25 / hr', '50 - 249', 'Las Vegas, NV'],
 ['$50 - $99 / hr', '1,000 - 9,999', 'New York, NY'],
 ['$50 - $99 / hr', '10 - 49', 'Bari, Italy']]

In [19]:
import pandas as pd
l=[]
website = soup1.findAll("div",{"class":"provider-detail col-md-2"})
for i in range(0,len(company3)):
    dict={'company':company3[i].find('a').contents[0].strip(),'website':website3[i].find('a')['href'].strip(),'location':sublist(lis,3)[i][2],'hourly_rate':sublist(lis,3)[i][0],'employee_size':sublist(lis,3)[i][1],
         'rating':rating3[i].text.strip(),'min_proj_size':min_proj_size[i].text.strip()}
    l.append(dict)
convert = pd.DataFrame(l)
convert.to_csv('artificial_intelligence.csv')